%div{ 'ng-init' => "user = { $pwdScore: {}, email: '#{params['email']}' }" }

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { 'name' => 'form', :class => 'form-horizontal autofill-detect', :autocomplete => "off" }) do |f|
  
  - unless devise_error_messages!.empty?
    .row
      .alert.alert-error
        %button.close ×
        = devise_error_messages!
  
  .row
    .col-sm-12
      = f.email_field :email, placeholder: "*Email", :required => true, 'ng-model' => 'user.email', :class => 'form-control'
  
  %br
  
  .row
    .col-sm-12
      = f.text_field :company, placeholder: "Company", 'ng-model' => 'user.company', class: 'form-control'
  
  %br
  
  .row
    .col-sm-12
      .checkbox-section.text-center
        = check_box_tag 'tos', 'accept', false, :required => true, :style => "margin-top: -3px;", 'ng-model' => 'acceptTos'
        %label{for: 'tos'} I accept the
        = link_to "Terms of Use", 'terms_path', :target => '_blank'
  
  %br
  .row
    .col-sm-12
      .text-center
        %button{ :class => "btn btn-warning", :type => "submit", 'ng-click' => 'hasClicked = true', 'ng-disabled' => 'form.$invalid', 'ng-hide' => 'hasClicked' } Create my account!
        %img.ng-hide{ 'ng-src' => asset_path('mno_enterprise/loader-32x32-bg-inverse.gif'), 'ng-show' => 'hasClicked' }