.banners.promo.dark.darkblue
  .container
    .row.text-center
      = image_tag("mno_enterprise/main-logo.png")
    .row
      %h2= t('.title')
    %hr
    .row
      .col-md-6.col-md-offset-3
        .align-center
          %h3= t('.explanation')
          %p= t('.recommendation')
        .spacer4
        .align-center
          %h5= t('.support_help_html', email: mail_to(support_email))
        .spacer4
