<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag('mno_enterprise/mail.css') %>
  </head>
  <body>
    <p class="header">
      <%= image_tag('mno_enterprise/main-logo.png') %>
    </p>

    <p>Hi there,</p>

    <p>You have been invited by <%= @info[:ref_full_name] %> to join <%= @info[:organization] %> on our platform!. You can automatically create your account on our platform and join <%= @info[:organization] %> by clicking on the link below:</p>
    <a href="<%= @info[:confirmation_link] %>">Create my account and join <%= @info[:organization] %></a>
     
    <% if @info[:team]? %>
    <p>By accepting this invite you will automatically join the <%= @info[:team] %> team.</p>
    <% end %>

    <p>
      Regards,<br/>
      The Marketplace team
    </p>
    
    <p class="footer">
      <%= @info[:company] %>
    </p>
  </body>
</html>
