<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag('mno_enterprise/mail.css') %>
  </head>
  <body>
    <p class="header">
      <%= image_tag('mno_enterprise/main-logo.png') %>
    </p>

    <p>Hi <%= @info[:first_name] %></p>
     
    <p>Here are the details of this new task.</p>
    <p>Title: <%= @info[:title] %></p>
    <p>Content: <%= @info[:content] %></p>
    <p>Due date: <%= @info[:due_date] %></p>
 
    <p>
      Thank you,<br/>
    </p>
    <p class="footer">
      <%= @info[:company] %>
    </p>
  </body>
</html>
