.banners.promo.dark.darkblue.confirmation-lounge
  .container
    .row
      .col-md-8.col-md-offset-2
        .row
          .align-center
            %i.fa.fa-envelope
            %h4= t('mno_enterprise.auth.confirmations.lounge.title')
            %h5= t('mno_enterprise.auth.confirmations.lounge.subtitle')
          
          %div{ 'ng-init' => "email = '#{@resource.email}'"}
            = form_for(@resource, :as => resource_name, :url => mno_enterprise.user_confirmation_path, :html => { 'name' => 'form', :class => 'dark form-horizontal', :autocomplete => "off" }) do |f|
              - unless devise_error_messages!.empty?
                %div
                  .alert.alert-error
                    %button.close{ 'data-dismiss' => "alert" } ×
                    = devise_error_messages!
              .spacer2
              .form-group
                .col-sm-6.col-sm-offset-2
                  .input-prepend
                    = f.email_field :email, :placeholder => "Email", :required => true, 'ng-model' => 'email', :class => 'input-xlarge'
                .col-sm-2
                  %button{ :class => "btn btn-lg btn-warning", :type => "submit", 'ng-click' => 'hasClicked = true', 'ng-disabled' => 'form.$invalid', 'ng-hide' => 'hasClicked' }= t('mno_enterprise.auth.confirmations.lounge.resend')
                  %img{ class: 'loader-sm', 'ng-src' => asset_path('mno_enterprise/loader-32x32-bg-main.gif'), 'ng-show' => 'hasClicked' }

    .spacer2
    .row
      .col-md-12
        .align-center
          %h5
            = t('mno_enterprise.auth.confirmations.lounge.support_tip_html', email: mail_to(support_email, t('mno_enterprise.auth.confirmations.lounge.support_team'), subject: t('mno_enterprise.auth.confirmations.lounge.support_email_subject')))
