.registration
  .container
    .row
      .login-box-wrapper
        .login-box-title
          %h2 Password Expired
        .login-box
          .brand-logo

          = form_for(resource, as: resource_name, url: mno_enterprise.user_password_expired_path, :html => { method: :put, class: 'form-horizontal' }) do |f|
            = devise_error_messages!

            .row
              .col-sm-12
                = f.password_field :current_password, placeholder: "*Current password", required: true, :class => 'form-control'

            %br

            .row
              .col-sm-12
                = f.password_field :password, placeholder: "*New password", required: true, autocomplete: "off", :class => 'form-control'

            %br

            .row
              .col-sm-12
                = f.password_field :password_confirmation, placeholder: "*Confirm new password", required: true, autocomplete: "off", :class => 'form-control'

            %br

            .row
              .col-sm-12
                .text-center
                  = f.submit "Change my password", class: "btn btn-warning"
