%div{ 'ng-init' => "user = {}" }

.registration
  .container
    .row
      .login-box-wrapper
        .login-box-title
          %h2= t('.title')
        .login-box
          %img.brand-logo{src: asset_path('mno_enterprise/main-logo.png')}

          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal autofill-detect' }) do |f|

            - unless devise_error_messages!.empty?
              .row
                .alert.alert-error
                  %button.close ×
                  = devise_error_messages!

            .row
              .col-sm-12
                = f.email_field :email, placeholder: "*Email", required: true, 'ng-model' => 'user.email', :class => 'form-control'

            %br

            .row
              .col-sm-12
                .text-center
                  %button{ :class => "btn btn-warning", :type => "submit", 'ng-click' => 'hasClicked = true', 'ng-disabled' => 'form.$invalid', 'ng-hide' => 'hasClicked' }= t('.title')
                  %img.ng-hide{ 'ng-src' => asset_path('mno_enterprise/loader-32x32-bg-inverse.gif'), 'ng-show' => 'hasClicked' }

          %hr

          = render "mno_enterprise/auth/shared/links"
