%div{ 'ng-init' => "user = { $pwdScore: {}, name: '#{resource.name}', surname: '#{resource.surname}' }" }

= form_for(resource, as: resource_name, :url => mno_enterprise.user_confirmation_finalize_path, :html => { 'name' => 'loginForm', :class => 'text-center' }) do |f|
  = f.hidden_field :confirmation_token, value: @confirmation_token
  
  %div{ layout: '', 'layout-sm' => 'column' }
    %md-input-container{ flex: '' }
      %label Name
      = f.text_field :name, required: true, 'ng-model' => 'user.name'
  
    %md-input-container{ flex: '' }
      %label Surname
      = f.text_field :surname, required: true, 'ng-model' => 'user.surname'
  
  
  
  - if @phone_required && MnoEnterprise.style.devise.phone_required
    %div{ layout: '', 'layout-sm' => 'column' }
      
      %md-input-container
        %md-select{ placeholder: "Ext.", 'ng-model' => "user.phone_country_code", style: 'line-height: 26px;' }
          %md-option{ 'ng-value' => 'opt.alpha2', 'ng-repeat' => "opt in #{ Country.all.map {|cntry, alpha2| {alpha2: alpha2, code: Country.new(alpha2).country_code} }.to_json }"  }
            {{ opt.alpha2 }} +{{ opt.code }}
        = f.hidden_field :phone_country_code, 'ng-model' => 'user.phone_country_code'
      
      %md-input-container{ flex: '' }
        %label Phone
        = f.text_field :phone, required: true, 'ng-model' => 'user.phone_number'
  
  %md-input-container
    %label Password
    = f.password_field :password, required: true, 'ng-model' => 'user.password', autocomplete: "off"
  
  
  %div
    %button{ class: "md-raised md-primary", 'md-button' => true, type: "submit", 'ng-click' => 'hasClicked = true', 'ng-disabled' => 'loginForm.$invalid' } Create Account
    %md-progress-linear{ 'md-mode' => "indeterminate", 'ng-show' => 'hasClicked' }
  
  %br
  
  %div
    %p 
      By clicking 'Create Account' you are agreeing to
      = "#{MnoEnterprise.app_name}'s"
      Terms of Use and Privacy Policy