.row
  .col-sm-12
    = text_field_tag "street", nil, class: "form-control", placeholder: "*Street", required: true, 'ng-model' => 'user.main_address.street'
%br
.row
  .col-sm-12
    = text_field_tag "city", nil, class: "form-control", placeholder: "*City", required: true, 'ng-model' => 'user.main_address.city'
%br
.row
  .col-sm-12
    = text_field_tag "state_code", nil, class: "form-control", placeholder: "*State", required: true, 'ng-model' => 'user.main_address.state_code'
%br
.row
  .col-sm-12
    = text_field_tag "postal_code", nil, class: "form-control", placeholder: "*Postal Code", required: true, 'ng-model' => 'user.main_address.postal_code'
%br
.row
  .col-sm-12
    = select_tag "country_code", options_for_select(ISO3166::Country.codes.map { |code| [ISO3166::Country[code].name, code] }), class: "form-control", include_blank: '---*SELECT---', required: true, 'ng-model' => 'user.main_address.country_code'
%br
.row
  .phone
    .col-sm-12
      = select_tag "phone_country_code", options_for_select(ISO3166::Country.codes.map { |code| c = ISO3166::Country[code]; ["#{c.alpha2} +#{c.country_code}", code]}, MnoEnterprise.app_country),class: 'form-control'
      = text_field_tag "phone", nil, class: "form-control", placeholder: "*Phone", required: true, 'ng-model' => 'user.main_address.phone_country_code'
%br
