%div{ 'ng-init' => "user = { $pwdScore: {}, email: '#{params['email']}' }" }

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { 'name' => 'form', :class => 'form-horizontal autofill-detect', :autocomplete => "off" }) do |f|
  
  - unless devise_error_messages!.empty?
    .row
      .alert.alert-error
        %button.close ×
        = devise_error_messages!
  
  %md-input-container
    %label Email
    = f.email_field :email, :placeholder => "Email", required: true, 'ng-model' => 'user.email'

  %br

  %md-input-container
    %label Company
    = f.text_field :company, placeholder: "Company", required: true, 'ng-model' => 'user.company'
  
  %br/
  %md-checkbox{ 'ng-model' => 'user.acceptTos', name: 'tos' } 
    I accept the
    = link_to "Terms of Use", MnoEnterprise.router.terms_url, :target => '_blank'
  
  %br
  
  %div
    %button{ class: "md-raised md-accent", 'md-button' => true, type: "submit", 'ng-click' => 'hasClicked = true', 'ng-disabled' => 'form.$invalid' } Create my account!
    %md-progress-linear{ 'md-mode' => "indeterminate", 'ng-show' => 'hasClicked' }