.banners
  .spacer1
  .container
    .row
      .col-md-6.text-center.col-md-offset-3
        = image_tag 'mno_enterprise/main-logo.png', class: 'top-picture'
    .row
      .col-md-6.col-md-offset-3
        .align-center
          .spacer3
          %h2= t('mno_enterprise.provision.select_organization.title')
.banners.promo
  .container
    .row
      .col-md-6.col-md-offset-3
        .align-center
          %h3= t('mno_enterprise.provision.select_organization.explanation')
          %p= t('mno_enterprise.provision.select_organization.select')
          = form_tag(new_provision_path, method: :get) do
            - @apps.each do |app|
              = hidden_field_tag 'apps[]', app
            = select_tag :organization_id, options_for_select(@organizations.map { |o| [o.name, o.id]} ), class: 'form-control'
            .spacer1
            = submit_tag t('mno_enterprise.provision.select_organization.submit'), class: 'btn btn-warning'
        .spacer4
