.oauth-config-page
  .banners
    .spacer1
    .container
      .row
        .col-md-6.text-center.col-md-offset-3
          = image_tag 'mno_enterprise/main-logo.png', class: 'top-picture'
          .spacer2
          %h3= t('.which_version_used')

          .spacer1

          %hr

          - # form with options
          .align-center
            = form_tag authorize_webhook_oauth_path, method: :get do
              = hidden_field_tag :perform, true

              .spacer1

              .form-group
                %p= t('.my_version_is')
                = select_tag :version, options_for_select([["Account Right Live","account_right"],["Essentials","essentials"]], "essentials")            

              %hr

              .form-group
              %button{ class: 'btn btn-warning', type: 'submit' }
                = t('.connect')
