.oauth-config-page{'ng-app' => true}
  .banners
    .spacer1
    .container
      .row
        .col-md-6.text-center.col-md-offset-3
          = image_tag 'mno_enterprise/main-logo.png', class: 'top-picture'
          .spacer2
          %h3= t('.how_do_you_want_to_connect')

          .spacer1

          %hr

          - # form with options
          .align-center
            = form_tag authorize_webhook_oauth_path, method: :get do
              = hidden_field_tag :perform, true

              %p= t('.which_extra_modules')
              .form-inline
                = check_box_tag 'extra_params[]', :payroll, false, {'ng-model' => 'payroll'}
                = label_tag :payroll

              .spacer1

              .form-group{'ng-if' => 'payroll', 'ng-cloak' => true}
                %p= t('.which_country_for_the_account')
                = select_tag :xero_country, options_for_select([["Australia","AU"],["USA","US"]], "AU")

              %hr

              .form-group
              %button{ class: 'btn btn-warning', type: 'submit' }
                = t('.connect')
