.oauth-config-page{'ng-app' => true}
  .banners
    .spacer1
    .container
      .row
        .col-md-6.text-center.col-md-offset-3
          = image_tag 'mno_enterprise/main-logo.png', class: 'top-picture'
          .spacer2
          %h3 How do you want us to connect your Xero account?
        
          .spacer1
        
          %hr
        
          - # form with options
          .align-center
            = form_tag authorize_webhook_oauth_path, method: :get do
              = hidden_field_tag :perform, true
              
              %p Do you want to connect any of the following extra modules?
              .form-inline
                = check_box_tag 'extra_params[]', :payroll, false, {'ng-model' => 'payroll'}
                = label_tag :payroll
              
              .spacer1

              .form-group{'ng-if' => 'payroll', 'ng-cloak' => true}
                %p What is the country associated with your Xero account?
                = select_tag :xero_country, options_for_select([["Australia","AU"],["USA","US"]], "AU")

              %hr
              
              .form-group
              %button{ class: 'btn btn-warning', type: 'submit' } Connect
